@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>This is my first Web app with ASP.NET Core.</p>
    <p>For getting Report you must be <a class="nav-link" asp-controller="Account" asp-action="Register">Registred.</a></p>
</div>
